{% extends 'base.html' %}

{% block title %}{{ roof.title }}{% endblock title %}

{% block content %}
  
  <div class="row">
    <div class="col-sm-6">
      <h3>{{ roof.title }}</h3>
      <img src="http://placehold.it/350x150">
    </div>
    <div class="col-sm-6">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab1">Инфо</a></li>
          <li><a data-toggle="tab" href="#tab2">Как попасть</a></li>
          <li><a data-toggle="tab" href="#tab3">Крыши рядом</a></li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            Метро: {{ roof.metro }}<br/>
            Адрес: {{ roof.address }}<br/>
            Сложность: {{ roof.complexity }}<br/>
            Тип крыши: {{ roof.slope }}<br/>
            Этаж: {{ roof.floor }} <br/>
            Последнее изменение: {{ roof.updated }}<br/><hr/>
            Описание: {{ roof.description|safe }}
          </div>
          <div class="tab-pane" id="tab2">
            Маршрут: {{ roof.route|safe }}
          </div>
          <div class="tab-pane" id="tab3">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    
  </div>
{% endblock content %}
