{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}
  {% for roof in list %}
    <div class="container">
      <div class="row">
        <a href="{% url 'roof:detail' slug=roof.slug %}"><h1>{{ roof.title }}</h1></a>
        <img src="{% thumbnail roof.image 350x150 crop %}"> <br/><br/>
        Крыша добвлена: {{ roof.created }}<br/>
        Последнее изменение: {{ roof.updated }}<hr/>
        Метро: {{ roof.metro }}<br/>
        Адрес: {{ roof.address}}<br/><hr/>
        Сложность: {{ roof.complexity }}<br/>
        Тип крыши: {{ roof.slope }}<br/><hr/>
      </div>
    </div>
  {% endfor %}

  <div class="pagination">
      <span class="step-links">
          {% if list.has_previous %}
              <a href="?page={{ list.previous_page_number }}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
          {% endif %}

          <span class="current">
              Page {{ list.number }} of {{ list.paginator.num_pages }}.
          </span>

          {% if list.has_next %}
              <a href="?page={{ list.next_page_number }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          {% endif %}
      </span>
  </div>

{% endblock content %}
