html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Jura', sans-serif;
    font-size:13px;

}

.nebody {
        margin-left:-8px;
        background:url('404_doge.png');
        background-position: 0% 50%;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

.l404 {
    background-position: 20% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size:380px;
    text-align: center;
    font-weight: bold;
    margin-top:100px;
    color:#009900;

}

.navbar-fixed-top {
    position:inherit !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: grey;
}