.container {
  position: relative
}

.background-video {
  background-position: top center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

video,
source {
  bottom: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

.loaded .ytplayer-container {
  display: block;
}

.loaded .placeholder-image {
  opacity: 0;
}

.ytplayer-container {
  bottom: 0;
  height: 100%;
  left: 0;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.placeholder-image {
  height: 100%;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.ytplayer-shield {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.ytplayer-player {
  position: absolute;
}

.container {
  
  padding: 0 30px 0 30px;
  margin: 30px auto;
}


.logo{
  font-family: 'Uni' !important;
  text-align: center;
  color: #fff;
  font-size: 5em;
  z-index: 10;
}

.container > .form {
  font-family: 'Uni' !important;
  text-align: center;
  color: #fff;
  width: 25%;
  font-size: 2.4em;
  margin: auto;
  
}
@font-face{
   font-family: 'Uni';
   src:url('../fonts/Uni Sans Thin.otf'),
        url('../fonts/Uni Sans Thin.ttf')
}